@import "./reset.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

#hero {
  height: 500px;
  border-radius: 50%;
  padding: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

/* TODO: Container query */
/* article,
header,
footer,
main,
section {
  container-type: inline-style;
} */
